<p>
  add-activity works!
</p>

<form (ngSubmit)="submitForm()" #myForm="ngForm">
    <div class="form-group">
      <label for="name">Host Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Host Name" [(ngModel)]="activity.host" name="activity.host">
    </div>
    <br>
    <div class="form-group">
      <label for="activityName">Activity Name:</label>
      <input type="text" class="form-control" id="activityName" placeholder="Activity Name" [(ngModel)]="activity.name" name="activity.name">
    </div>
    <br>
    <div class="form-group">
      <label for="state">State:</label>
      <input type="text" class="form-control" id="state" placeholder="State" [(ngModel)]="activity.state" name="activity.state">
    </div>
    <br>
    <div class="form-group">
      <label for="members">Members:</label>
      <input type="text" class="form-control" id="members" placeholder="Members" [(ngModel)]="member" name="member">
    </div>
    <br>
    <button type="submit" class="btn btn-default">Add</button>
  </form>
  <button class="btn btn-default" (click)="addMember()">Add Member</button>
  <span class="label label-default" *ngFor="let member of activity.members">{{ member }}</span>

<p><a [routerLink]="['/']">Back to HomePage</a></p>
